# Imports

In [1]:
# Basics
import numpy as np
import pandas as pd
import os
import scipy.stats as stats
from pydataset import data
from scipy import math
import requests
import datetime
from datetime import datetime

# Visuals
import seaborn as sns

# Custom
import wrangle

In [2]:
df = wrangle.store_item_sales()

Downloading data from SQL and merging...
Saving to .csv

In [3]:
df.head()

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253

## PREPARING THE DATA
- Check and if needed, remove nulls
- Data is in proper format

In [4]:
df.shape

(913000, 14)

In [7]:
df.isnull().sum()

item_id          0
sale_amount      0
sale_date        0
sale_id          0
store_id         0
item_brand       0
item_name        0
item_price       0
item_upc12       0
item_upc14       0
store_address    0
store_city       0
store_state      0
store_zipcode    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item_id        913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_date      913000 non-null  object
 3   sale_id        913000 non-null  int64
 4   store_id       913000 non-null  int64
 5   item_brand     913000 non-null  object
 6   item_name      913000 non-null  object
 7   item_price     913000 non-null  float64
 8   item_upc12     913000 non-null  object
 9   item_upc14     913000 non-null  object
 10  store_address  913000 non-null  object
 11  store_city     913000 non-null  object
 12  store_state    913000 non-null  object
 13  store_zipcode  913000 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 104.5+ MB

In [8]:
df.describe()

,item_id,sale_amount,sale_id,store_id,item_price
count,913000.000000,913000.000000,913000.000000,913000.000000,913000.000000
mean,25.500000,52.250287,456500.500000,5.500000,5.160400
std,14.430878,28.801144,263560.542224,2.872283,2.737764
min,1.000000,0.000000,1.000000,1.000000,0.600000
25%,13.000000,30.000000,228250.750000,3.000000,2.970000
50%,25.500000,47.000000,456500.500000,5.500000,5.195000
75%,38.000000,70.000000,684750.250000,8.000000,7.520000
max,50.000000,231.000000,913000.000000,10.000000,9.640000